<p>{{ label }}</p>

<div class="container">
  <input type="text" class="field" />
  <div class="icons-container">
    <div class="icon-search" (click)="clickEvent()"></div>
  </div>
</div>

<!-- <p>{{ name }}</p>
<div>
  <input type="text" [value]="updatedName" (input)="nameUpdated($event)" />
  <button (click)="myFunction()">Cambiar nombre</button>
</div>
<div>
  <button (click)="resetName()">Reiniciar</button>
</div> -->

<!-- <input type="text" [placeholder]="ph" [value]="name" /> -->
<!--Así uso el atributo "ph" de search.component.ts para placeholder-->
<!--Y así uso el atributo "name" de search.component.ts para value-->
